<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WhitehousePetitions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7DBD339F1E4EA0CE007A1D16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DBD33B31E4EA0CE007A1D16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DBD33BE1E4EA0CE007A1D16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
